@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&family=Teko:wght@300;400;700&display=swap');

/* font-family: 'Supermercado One', cursive; */
/* font-family: 'Teko', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    height: 100vh;
    /* background: radial-gradient(circle, #0b97e9 0%, #be1616 100%); */
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    /* background-color: #2c2c2c; */
    background-color: #DF5A11;
    max-width: 1024px;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 
.mobile__top {
    position: absolute;
    right: 50%;
    margin-right: -2.2rem;
    top: 2.4rem;
    width: 4.4rem;
    height: 0.5rem;
    background: #0A0D11;
    border-radius: 1rem;
    border: 1px solid #0A0D11;
    color: red;
}

.mobile__light {
    position: absolute;
    right: 0;
    top: 18.4rem;
    width: 5rem;
    height: 8rem;
    box-shadow: -2.5rem 0 10rem #0081C8;
    border-radius: 50%;
    transition: all 0.5s;
}

.mobile__light.menu-active {
    top: 14rem;
    width: 8rem;
    height: 27rem;
    box-shadow: -3rem 0 15rem #0081C8;
} */

/*caly kontent */
.mobile__content {
    z-index: 1;
    position: relative;
    height: 100%;
    /* background: #103142; */
    background: #2c2c2c;
    overflow: hidden;
}

/* pozycja menu */
.mobile__menu {
    position: absolute;
    right: 0;
    top: 20vh;
}

/* cien pod nav */
.mobile__menu:after {
    z-index: -2;
    content: "";
    position: absolute;
    right: 0;
    top: -6.4rem;
    width: 9.2rem;
    height: 32.2rem;
    -webkit-clip-path: polygon(0 0, 100% 5.3rem, 100% 26.9rem, 0 100%);
    clip-path: polygon(0 0, 100% 5.3rem, 100% 26.9rem, 0 100%);
    pointer-events: none;
    transition: all 0.2s;
    opacity: 0;
}

.mobile__menu.menu-active:after {
    z-index: 10;
    opacity: 1;
    transition: all 0.6s 0.9s;
}

/* kolory nav w 'active' state w zaleznosci od zakladki z ktorej kliknieta nav 
.mobile__menu.page-active-1:after,
.mobile__menu.page-active-2:after,
.mobile__menu.page-active-3:after,
.mobile__menu.page-active-4:after,
.mobile__menu.page-active-5:after {
    background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, .3)100%);
}

.mobile__menu.page-active-2:after {
    background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.35) 100%);
}

.mobile__menu.page-active-3:after {
    background: linear-gradient(rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 100%);
}

.mobile__menu.page-active-4:after {
    background: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.15) 100%);
}

.mobile__menu.page-active-5:after {
    background: linear-gradient(rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.05) 100%);
}

*/

/* elementy nav (trojkaty)*/
.mobile__menu-item {
    z-index: -1;
    position: absolute;
    right: 0;
    width: 9.2rem;
    height: 10.6rem;
    /* background: linear-gradient(340deg, #5AB45A 0%, #0D9450 100%);
    background: linear-gradient(340deg, #3161AB 0%, #0D4893 100%);
    background: #DF5A11; */
    background: linear-gradient(220deg, #DF5A11 0%, #d64b00 100%);
    -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.7s, -webkit-clip-path 0.4s;
    opacity: 0;
}

.mobile__menu-item-1 {
    top: -6.4rem;
    transition-delay: 0.2s;
}

.menu-active .mobile__menu-item-1 {
    transition-delay: 0s;
}

.mobile__menu-item-2 {
    top: -1rem;
    transition-delay: 0.3s;
}

.menu-active .mobile__menu-item-2 {
    transition-delay: 0.1s;
}

.mobile__menu-item-3 {
    top: 4.4rem;
    transition-delay: 0.4s;
}

.menu-active .mobile__menu-item-3 {
    transition-delay: 0.2s;
}

.mobile__menu-item-4 {
    top: 9.8rem;
    transition-delay: 0.5s;
}

.menu-active .mobile__menu-item-4 {
    transition-delay: 0.3s;
}

.mobile__menu-item-5 {
    top: 15.2rem;
    transition-delay: 0.6s;
}

.menu-active .mobile__menu-item-5 {
    transition-delay: 0.4s;
}

.mobile__menu-item:nth-child(even) {
    -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.mobile__menu-item:nth-child(even):after {
    transform: translate3d(6rem, 0, 0) rotate(90deg);
}

.mobile__menu-item:nth-child(even) .mobile__menu-item-content {
    transform: translate3d(6rem, 0, 0);
}

.mobile__menu-item-1 {
    transform: translate(0, -14rem);
}

.mobile__menu-item-2 {
    transform: translate(2rem, -22rem);
}

.mobile__menu-item-3 {
    transform: translate(-100%, 0);
}

.mobile__menu-item-4 {
    transform: translate(2rem, 22rem);
}

.mobile__menu-item-5 {
    transform: translate(0, 14rem);
}

.menu-active .mobile__menu-item {
    z-index: 2;
    opacity: 1;
    transform: translate(0, 10%);
}

/* Ikonka burgera */
.mobile__menu-item:after {
    content: "";
    position: absolute;
    left: 40%;
    top: 50%;
    margin-top: -0.6rem;
    width: 1.6rem;
    z-index: 5;
    height: 1.2rem;
    background-color: white;
    background: linear-gradient(#2c2c2c 0, #2c2c2c 0.2rem, transparent 0.2rem, transparent 0.5rem, #2c2c2c 0.5rem, #2c2c2c 0.7rem, transparent 0.7rem, transparent 1rem, #2c2c2c 1rem, #2c2c2c 100%);
    transform: translate3d(2rem, 0, 0) rotate(90deg);
    transition: transform 0.7s, opacity 0.7s;
    transition-delay: inherit;
    opacity: 0;
}

/* ikony nawigacji */
.mobile__menu-item-content {
    position: absolute;
    margin-top: -0.8rem;
    left: 0;
    top: 50%;
    min-width: 1.6rem;
    text-align: center;
    font-size: 1.6rem;
    color: black;
    transition: transform 0.7s, opacity 0.7s;
    transition-delay: inherit;
    transform: translate3d(2rem, 0, 0);
}

.m--btn .mobile__menu-item-content {
    transform: translate3d(1.6rem, 0, 0) rotate(-90deg);
    opacity: 0;
}

/*BURGER - trojkat przcisk */
.mobile__menu-item.m--btn {
    z-index: 5;
    position: absolute;
    right: -1px;
    top: 0;
    width: 6.8rem;
    height: 7.8rem;
    opacity: 1;
    transform: translate(0, 0);
    -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

/* aktywna strona - pozycja trojkata */
/* .mobile__menu.page-active-2 {
left: auto;
    right: -1px
} */

.mobile__menu-item.m--btn:after {
    transform: translate3d(1.6rem, 0, 0);
    opacity: 1;
}

/* widok strony: calosc */
.mobile__page {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5%;
    transform-origin: 100% 50%;
    transition: all 0.5s 0.5s ease-in-out, opacity 0.5s 0s ease-in-out;
    transform: translate3d(0, 0, 0);
    opacity: 0;
    will-change: transform, opacity, filter;
}

.mobile__page.active {
    z-index: 1;
    opacity: 1;
}

/* nav active zachowanie strony */
.mobile__page.menu-active {
    transform: scale(0.6) translate3d(-68%, 0, 0);
    transition: all 0.5s ease-in-out;
    /* filter: blur(2px); */
}



/* widok strony: trojkat gora dol + tlo */
.mobile__page-poly {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 30%, 100% 15%, 100% 80%, 0 95%);
    clip-path: polygon(0 15%, 100% 5%, 100% 85%, 0 95%);
    /* -webkit-clip-path: polygon(0 30%, 100% 15%, 100% 80%, 0 95%);
    clip-path: polygon(0 30%, 100% 20%, 100% 85%, 0 95%); */
    background-repeat: no-repeat;
    background-size: cover;
}

/* MAIN page */
.mobile__page-1 .mobile__page-poly {
    background-image: url(../img/1.png);
    background-position-x: 75%
}

.logo {
    position: absolute;
    top: 60%;
    left: 45%;
    width: 50%;
    margin-bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* postac Tomka */
.mobile__page-2 .mobile__page-poly {
    background-image: url(../img/6c.jpg);
    background-position-x: 70%;
}

.tbFace {
    position: absolute;
    top: 50%;
    right: -10%;
}

.tbTitle {
    position: absolute;
    top: 80%;
    left: 27%;
    width: 46%;
    background-color: RGBA(0, 0, 0, .7);
    border-radius: 15px;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px 2% 10px;
}

.p1 {
    color: white;
    font-size: 33px;
    font-weight: 700;
    font-family: 'Teko', sans-serif;
}

.p2 {
    margin-top: 5px;
    color: #DF5A11;
    font-size: 20px;
    word-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;

}

.btnCert {
    width: 43%;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #DF5A11;
    cursor: pointer;
    border: 3px solid #DF5A11;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: absolute;
    top: 48%;
    left: 5%;
    transform: translate(0%) rotate(-90deg);
    font-family: 'Teko', sans-serif;
    animation: jumpCertBtn 6s infinite cubic-bezier(0.83, 0.61, 0.23, 1.27);
    font-weight: 700;
    background-color: white;
}


.tbTitle.active,
.btnCert.active {
    display: none;
}


@keyframes jumpCertBtn {
    0% {
        transform: translateX(0%) rotate(-90deg);
    }

    10% {
        transform: translateX(0%) rotate(-90deg);
    }

    11% {
        transform: translateX(0%) translateY(-10%) rotate(-90deg);
    }

    16% {
        transform: translateX(0%) translateY(10%) rotate(-90deg);
    }

    21% {
        transform: translateX(0%) translateY(-10%) rotate(-90deg);
    }

    26% {
        transform: translateX(0%) translateY(10%) rotate(-90deg);
    }

    27% {
        transform: translateX(0%) translateY(0%) rotate(-90deg);
    }

    30% {
        transform: translateX(0%) rotate(-90deg);
    }

    35% {
        transform: translateX(10%) rotate(-90deg);
    }

    60% {
        transform: translateX(10%) rotate(-90deg);
    }

    66% {
        transform: translateX(0%) rotate(-90deg);
    }

    71 {
        transform: translateX(0%) translateY(10%) rotate(-90deg);
    }

    76% {
        transform: translateX(0%) translateY(-10%) rotate(-90deg);
    }

    81% {
        transform: translateX(0%) translateY(10%) rotate(-90deg);
    }

    86% {
        transform: translateX(0%) translateY(-10%) rotate(-90deg);
    }

    91% {
        transform: translateX(0%) translateY(0%) rotate(-90deg);
    }

    100% {
        transform: translateX(0%) rotate(-90deg);
    }
}

@keyframes jumpCertBtnLanscape {
    0% {
        transform: translateX(0%);
    }

    10% {
        transform: translateX(0%);
    }

    11% {
        transform: translateX(0%) translateY(-10%);
    }

    16% {
        transform: translateX(0%) translateY(10%);
    }

    21% {
        transform: translateX(0%) translateY(-10%);
    }

    26% {
        transform: translateX(0%) translateY(10%);
    }

    27% {
        transform: translateX(0%) translateY(0%);
    }

    30% {
        transform: translateX(0%);
    }

    35% {
        transform: translateX(10%);
    }

    60% {
        transform: translateX(10%);
    }

    66% {
        transform: translateX(0%);
    }

    71 {
        transform: translateX(0%) translateY(10%);
    }

    76% {
        transform: translateX(0%) translateY(-10%);
    }

    81% {
        transform: translateX(0%) translateY(10%);
    }

    86% {
        transform: translateX(0%) translateY(-10%);
    }

    91% {
        transform: translateX(0%) translateY(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.modal {
    display: flex;
    z-index: 9999;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
    height: 70%;
    position: absolute;
    top: 15%;
    left: -100%;
    transition: .2s;
    background-color: #2c2c2c;
    border-top: 3px solid #DF5A11;
    border-bottom: 3px solid #DF5A11;
    text-align: center;
    font-family: 'Teko', sans-serif;
    overflow: hidden;
}

.modal.active {
    left: 50%;
    transform: translateX(-50%);
}

.title {
    font-size: 30px;
    color: #2c2c2c;
    color: #DF5A11;
    text-transform: uppercase;
}

.imgGroup {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    height: 40vh;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.imgGroup img {
    height: 100px;
    width: 26%;
    border: 2px solid #DF5A11;
    border-radius: 15px;
}

.btnCloseCert {
    /* width: 40%; */
    color: #DF5A11;
    text-decoration: none;
    padding: 5px 5%;
    font-weight: 700;
    background-color: #2c2c2c;
    border: 2px solid #DF5A11;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    margin: 0 auto;
    cursor: pointer
}

.tbTitle.active,
.btnCert.active {
    display: none;
}

/* trening */

.mobile__page-3 .mobile__page-poly {
    background-image: url(../img/5.jpg);
    background-position-x: 70%;
}

.logo3 {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%) scale(1);
}

.p3napis {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    border: 2px solid white;
    border-radius: 15px;
    padding: 2%;
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    transition: .5s;
}

.p3napis.raz {
    left: -100%;
    animation: slajdWorkout 12s infinite linear;
}

.p3napis.dwa {
    left: -100%;
    top: 55%;
    animation: slajdWorkout 12s 4s infinite linear;

}

.p3napis.trzy {
    left: -100%;
    top: 60%;
    animation: slajdWorkout 12s 8s infinite linear;

}

@keyframes slajdWorkout {
    1% {
        left: 5%
    }

    32% {
        left: 5%
    }

    33% {
        left:
            100%
    }

    100% {
        left: 100%;
    }
}

/* lokalizacja */
.mobile__page-4 .mobile__page-poly {
    background-color: #f1f3f4;
}

div.wsk {
    z-index: 2;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2% 5%;
    font-size: 22px;
    text-align: center;
    font-family: 'Teko', sans-serif;
    cursor: pointer;
    background-color: #DF5A11;
}

div.wskShowed {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c2c2c;
    width: 100%;
    height: 40%;
    transition: .2s;
    z-index: 2;
}

div.wskShowed p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DF5A11;
    font-size: 22px;
    width: 90%;
    text-align: center;
    padding-right: 10%;
    font-family: 'Teko', sans-serif;
}

div.wskShowed.showed {
    top: 44%;
}

.iks {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 46px;
    font-weight: 700;
    padding: 2%;
    color: #DF5A11;
    cursor: pointer;
    z-index: 3;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 70vh;
    z-index: 0;
}

/* kontakt */
.mobile__page-5 .mobile__page-poly {
    background-image: url(../img/4.png);
    background-position-x: 5%;
}

.fb,
.ig,
.malpa,
.ph,
.plus {
    width: 80px;
    height: 80px;
    line-height: 68px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #DF5A11;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease-in;
}

.fb,
.ig,
.malpa,
.ph {
    background-color: transparent;
    border: none;
    color: #DF5A11;
}

.fb.rotate,
.ig.rotate,
.malpa.rotate,
.ph.rotate {
    background-color: #2c2c2c;
    border: 6px solid #DF5A11;
    color: #DF5A11;
    animation: jumpplus 4s;
}

.plus {
    z-index: 1;
    font-size: 140px;
    width: 160px;
    height: 160px;
    line-height: 160px;
    background-color: #2c2c2c;
    border: 3px solid #DF5A11;
    color: #DF5A11;
    transition: .7s cubic-bezier(0.04, 0.99, 0.43, 1.39);
}

@keyframes jumpplus {
    0% {
        background-color: #2c2c2c;
    }

    15% {
        background-color: #DF5A11;
        color: #2c2c2c;
        border-color: #2c2c2c;
    }

    16% {
        background-color: #DF5A11;
        color: #2c2c2c;
        border-color: #2c2c2c;
    }

    17% {
        background-color: #2c2c2c;
        color: #DF5A11;
        border-color: #DF5A11;
    }

    100% {
        background-color: #2c2c2c;
    }
}

.plus.rotate {
    width: 80px;
    height: 80px;
    line-height: 77px;
    font-size: 85px;
    transform: translate(-50%, -50%) rotate(225deg);
    animation-play-state: paused;
}

.fb.rotate {
    transform: translate(-50%, -180%);
}

.ig.rotate {
    transform: translate(-180%, -50%);
}

.malpa.rotate {
    transform: translate(+80%, -50%);
}

.ph.rotate {
    transform: translate(-50%, 80%);
}

.mobile__page-1 {
    font-family: 'Teko', sans-serif;
}


/* preloader */

@keyframes loader {

    0%,
    10%,
    100% {
        width: 80px;
        height: 80px;
    }

    65% {
        width: 150px;
        height: 150px;
    }
}

@keyframes loaderBlock {

    0%,
    30% {
        transform: rotate(0);
    }

    55% {
        background-color: #d3703b;
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes loaderBlockInverse {

    0%,
    20% {
        transform: rotate(0);
    }

    55% {
        background-color: #d3703b;
    }

    100% {
        transform: rotate(-90deg);
    }
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2c2c2c;
    transition: opacity 400ms ease-in-out, visibility 0s 400ms;

}

.show-preloader {
    visibility: visible;
    opacity: 1;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
    animation: loader 1.2s infinite ease-in-out;
}

.loader span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #DF5A11;
    animation: loaderBlock 1.2s infinite ease-in-out both;
}

.loader span:nth-child(1) {
    top: 0;
    left: 0;
}

.loader span:nth-child(2) {
    top: 0;
    right: 0;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.loader span:nth-child(3) {
    bottom: 0;
    left: 0;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.loader span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.preloader p {
    position: absolute;
    top: 75%;
    text-align: center;
    color: #DF5A11;
    font-size: 42px;
    letter-spacing: 4px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    width: 100%;
}

/* wielkosc nav active w landscape */
/* @media (min-height: 320px) and (orientation: landscape) {
    .menu-active {
        transform: scale(0.55);
    }

    .logo {
        top: 50%;
        transform: translate(-50%, -50%) scale(.7);
    }
}

@media (min-height: 360px) and (orientation: landscape) {
    .menu-active {
        transform: scale(0.65);
    }
}

@media (min-height: 500px) and (orientation: landscape) {
    .menu-active {
        transform: scale(0.8);
    }
}

@media (min-height: 600px) and (orientation: landscape) {
    .menu-active {
        transform: scale(1);
    }
}

@media (min-height: 720px) and (orientation: landscape) {
    .menu-active {
        transform: scale(1.2);
    }
}

@media (min-height: 768px) and (orientation: landscape) {
    .menu-active {
        transform: scale(1.2);
    }

}

@media (min-height: 850px) and (orientation: landscape) {
    .menu-active {
        transform: scale(1.5);
    }
}


/* odleglosc nav i strony w active state */
/* @media (min-width: 533px) and (orientation: landscape) {
    .menu-active .mobile__menu-item {
        transform: translate(-40%, 10%)
    }

    .mobile__page.menu-active {
        transform: scale(0.6) translate3d(-68%, 0, 0) translate(10%, 10%);
    }
} */

@media (min-width: 319px) and (orientation: portrait) {
    .menu-active .mobile__menu-item {
        transform: translate(0%, 5%)
    }

    .logo {
        transform: translate(-50%, -50%) scale(1.5);
    }

    .tbFace {
        top: 39%;
        right: -30%;
    }

    .tbTitle {
        top: 75%;
    }

    .p1 {
        font-size: 33px;
        line-height: 25px;
    }

    .p2 {
        font-size: 20px;
    }

    .btnCert {
        top: 32%;
        left: -10%;
        font-size: 20px;
        width: 52%
    }

    .title {
        font-size: 23px;
        margin-top: 5%;
    }

    .imgGroup img {
        height: 80px;
    }

    .btnCloseCert {
        margin-bottom: 5%;
    }


    .logo3 {
        top: 30%;
        left: 35%;
    }

    .p3napis.raz {
        top: 55%
    }

}

@media (min-width: 360px) and (orientation: portrait) {
    .menu-active .mobile__menu-item {
        transform: translate(0%, 20%)
    }

    .logo {
        transform: translate(-50%, -50%) scale(1.6);
    }

    .tbFace {
        top: 44%;
        right: -20%;
        transform: scale(1.3);
    }

    .p1 {
        font-size: 34px;
        letter-spacing: 2px;
        line-height: 28px;
    }

    .p2 {
        font-size: 28px;
    }

    .btnCert {
        width: 80%;
        font-size: 20px;
        top: 40%;
        left: -25%;
    }

    .tbTitle {
        top: 79%;
        left: 44%;
        width: 85%;
        padding: 20px 2% 2% 2%
    }

    .title {
        font-size: 28px;
    }

    .logo3 {
        left: 35%;

        transform: translate(-50%, -50%) scale(1.2);
    }

    .p3napis {
        padding: 5%;
        font-size: 26px;
    }

    div.wskShowed p {
        font-size: 28px;
    }

}

@media (min-width: 375px) and (orientation: portrait) {
    .menu-active .mobile__menu-item {
        transform: translate(0%, 40%)
    }

    .logo {
        transform: translate(-50%, -50%) scale(1.8);
    }

    .tbFace {
        top: 47%;
        right: -20%;
        transform: scale(1.4);
    }

    .p1 {
        font-size: 35px;
    }

    .p2 {
        font-size: 25px;
    }

    .tbTitle {
        top: 80%;
        left: 42%;
        width: 75%;
        padding: 20px 2% 2% 2%
    }

    .btnCert {
        width: 60%;
        font-size: 20px;
        top: 40%;
        left: -15%;
    }

    .p3napis.raz {
        top: 56%
    }
    div.wskShowed p {
        font-size: 30px;
    }

}


@media (min-width: 390px) and (orientation: portrait) {
    .tbFace {
        top: 49%;
        right: -20%;
        transform: scale(1.5);
    }

    .tbTitle {
        top: 81%;
    }
    div.wskShowed p {
        font-size: 32px;
    }
}


@media (min-width: 410px) and (orientation: portrait) {
    .menu-active .mobile__menu-item {
        transform: translate(0%, 30%)
    }

    .tbFace {
        top: 50%;
        right: -17%;
        transform: scale(1.5);
    }

    .tbTitle {
        top: 80%;
        left: 36%;
        width: 68%;
    }

    .p1 {
        font-size: 30px;
    }

    .p2 {
        font-size: 25px;
    }

    .btnCert {
        top: 40%;
    }

    .title {
        font-size: 32px;
    }

    .logo3 {
        left: 40%;
        transform: translate(-50%, -50%) scale(1.4);
    }

    .p3napis {
        font-size: 29px;
    }

}

@media (min-width: 768px) and (orientation: portrait) {
    .menu-active {
        transform: scale(1.8);
        z-index: 9;
    }

    .menu-active .mobile__menu-item {
        transform: translate(-0%, 10%)
    }

    .mobile__page.menu-active {
        transform: scale(0.6) translate3d(-68%, 0, 0) translate(0%, 10%);
    }

    .logo {
        top: 50%;
    }

    .tbFace {
        top: 52%;
        right: 0;
        transform: scale(1.);
    }

    .tbTitle {
        top: 61%;
        left: 35%;
        width: 50%;
    }

    .p1 {
        padding-top: 20px;
        font-size: 45px;
    }

    .p2 {
        font-size: 40px;
    }


    .btnCert {
        font-size: 30px;
        top: 30%;
        left: 5%;
        transform: rotate(90deg);
        animation: jumpCertBtnLanscape 6s infinite cubic-bezier(0.83, 0.61, 0.23, 1.27);
    }

    .title {
        font-size: 45px;
    }

    .logo3 {
        left: 50%;

        transform: translate(-50%, -50%) scale(1.6);
    }

    .p3napis {
        font-size: 36px;
    }

    .p3napis.raz {
        top: 54%
    }

    div.wskShowed p {
        font-size: 38px;
    }

    .iks {
        font-size: 68px;
    }
}

@media (orientation: landscape) {
    .menu-active {
        transform: scale(0.9);
        z-index: 9;
    }

    .logo {
        transform: translate(-40%, -60%) scale(1.0);
    }

    .tbFace {
        top: auto;
        bottom: 17%;
        right: 5%;
    }

    .tbTitle {
        top: 71%;
        left: 25%;
        width: 40%;
    }

    .p1 {
        font-size: 35px;
    }

    .p2 {
        font-size: 30px;
    }

    .btnCert {
        font-size: 20px;
        top: 35%;
        left: 5%;
        transform: rotate(90deg);
        overflow: hidden;
        animation: jumpCertBtnLanscape 6s infinite cubic-bezier(0.83, 0.61, 0.23, 1.27);
    }

    .modal {
        border: 2px solid #DF5A11;
    }

    .logo3 {
        left: 30%;
        transform: translate(-50%, -50%) scale(1.5);
    }

    .p3napis {
        font-size: 34px;
    }

    .p3napis.raz {
        top: 65%
    }

    .p3napis.dwa {
        top: 65%;
    }

    .p3napis.trzy {
        top: 65%;
    }

    div.wskShowed p {
        font-size: 42px;
    }

    .iks {
        font-size: 72px;
    }

}

@media (orientation: landscape) and (min-width: 1024px) {
    .menu-active {
        transform: scale(0.9);
        z-index: 9;
    }

    .tbFace {
        top: auto;
        bottom: 17%;
        right: 5%;
        transform: scale(1.4);
    }

    .tbTitle {
        top: 70%;
        left: 30%;
        width: 50%;
    }

    .p1 {
        font-size: 55px;
    }

    .p2 {
        font-size: 40px;
    }

    .btnCert {
        font-size: 30px;
        top: 35%;
        left: 5%;
        transform: rotate(0deg);
    }


    .modal {
        max-width: 800px;
    }

    .title {
        padding-top: 2%;
        font-size: 45px;

    }

    .imgGroup {
        height: 35vh;
        max-width: 600px;
    }

    .btnCloseCert {
        margin-bottom: 2%;
    }
}


@media (orientation: landscape) and (min-width: 1280px) {


    .title {
        padding-top: 5%;
        font-size: 45px;
    }

    .imgGroup {
        height: 35vh;
        max-width: 500px;
    }

    .btnCloseCert {
        margin-bottom: 5%;
    }

    .logo3 {
        left: 60%;
        transform: translate(-50%, -50%) scale(1.5);
    }
}